body{
    height: 100vh;
    font-family: "Inter";
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

#hero , #tree, .links,
#tree .buttons .button a {
 /* utiliza-se o display flex pois eu quero alinhar todos os meus elementos no centro. */
    display: flex;
    justify-content: center;
    align-items: center;
}