:root {
    --cor-primaria: #151718;
    --cor-secundaria: #EF686B;
    --cor-secundaria-transparente: #ef686b30;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    /* dar um maior volume de preto, adicionando duas cores primárias , duplica a porcentagem. */
    background: linear-gradient( 200deg, var(--cor-secundaria), var(--cor-primaria), var(--cor-primaria));
    font-family: 'Rubik', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.apresentacao, .arvore {
    width: 100%;
    height: 50%;
}