#tree {
    width: 100%;
    height: 50vh;
    flex-direction: column;
}

#tree .buttons .button a {
    border: 1px solid red;
    width: 15rem;
    height: 4rem;
} 

.instagram{
    display: none;
}